.login_non_signup {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #FFFFFF;
}

.login_left_option {
    position: absolute;
    width: 1080px;
    height: 1080px;
    left: 0px;
    top: 0px;
}

.logo {
    position: absolute;
    height: 1080px;
    width: 1080px;
    top: 0px;
    left: 0px;

    background: url(image/vecteezy_deadline-time-management-business-concept-vector_19571629.jpg);
    background-size: contain;
}

.let_us_be {
    position: absolute;
    width: 408.34px;
    height: 177px;
    left: 132px;
    top: 109px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;

    color: #279574;
}

.login_left_option .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 447px;
    height: 17px;
    left: 93px;
    top: 969px;
}

.bottom .linkbottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 282px;
    height: 17px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.linkbottom .linktext {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    display: flex;
    align-items: center;
    letter-spacing: 0.015em;

    color: #000000;
}

.login_right_option {
    position: absolute;
    width: 911px;
    height: 982px;
    left: 992px;
    top: 47px;

    background: #FFFFFF;
    border-radius: 24px 0px 0px 24px;
}

#welcome {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 311px;
    height: 49px;
    left: 167px;
    top: 168px;
}

#welcome .text {
    width: 291px;
    height: 29px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.18em;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.login_with {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 10px 16px;
    gap: 16px;

    position: absolute;
    width: 210px;
    height: 56px;
    left: 167px;
    top: 275px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.gg_logo {
    height: 36px;
    width: 36px;
    left: 16px;
    top: 10px;
    border-radius: 0px;    

    width: 36px;
    height: 36px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.gg_logo .frame {
    height: 25.71556854248047px;
    width: 25.208467483520508px;
    left: 5.39862060546875px;
    top: 5.140380859375px;
    border-radius: 0px;
    
    position: absolute;
    left: 15%;
    right: 14.98%;
    top: 14.28%;
    bottom: 14.29%;
}

.frame .part1 {
    height: 25.714740753173828px;
    width: 25.20126724243164px;
    left: 5.39862060546875px;
    top: 5.14111328125px;
    border-radius: 0px;
    
    position: absolute;
    left: 15%;
    right: 15%;
    top: 14.28%;
    bottom: 14.29%;

    background: #FFFFFF;
}

.frame .part2 {
    height: 10.361279487609863px;
    width: 20.080799102783203px;
    left: 6.77520751953125px;
    top: 5.140380859375px;
    border-radius: 0px;
    
    position: absolute;
    left: 18.82%;
    right: 25.4%;
    top: 14.28%;
    bottom: 56.94%;
    
    background: #E94435;
}

.frame .part3 {
    height: 11.541600227355957px;
    width: 5.58137845993042px;
    left: 5.39862060546875px;
    top: 12.2255859375px;
    border-radius: 0px;
    
    position: absolute;
    left: 15%;
    right: 69.5%;
    top: 33.96%;
    bottom: 33.98%;
    
    background: #F8BB15;
}

.frame .part4 {
    height: 12.160799026489258px;
    width: 12.349039077758789px;
    left: 18.258056640625px;
    top: 15.588134765625px;
    border-radius: 0px;
    
    position: absolute;
    left: 50.72%;
    right: 14.98%;
    top: 43.3%;
    bottom: 22.92%;
    
    background: #547DBE;
}

.frame .part5 {
    height: 10.350293159484863px;
    width: 20.001598358154297px;
    left: 6.76800537109375px;
    top: 20.505615234375px;
    border-radius: 0px;
    
    position: absolute;
    left: 18.8%;
    right: 25.64%;
    top: 56.96%;
    bottom: 14.29%;
    
    background: #34A751;
}

.gg_logo .text {
    width: 152px;
    height: 19px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #181818;
    
    flex: none;
    order: 1;
    flex-grow: 1;
}

.fb_logo {
    height: 36px;
    width: 36px;
    left: 16px;
    top: 10px;
    border-radius: 0px;
 
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fb_logo .frame {
    height: 30px;
    width: 30px;
    left: 3px;
    top: 3px;
    border-radius: 0px;
    
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
}

.frame .vector {
    height: 17.25px;
    width: 9px;
    left: 10.5px;
    top: 6px;
    border-radius: 0px;
    
    position: absolute;
    left: 35%;
    right: 35%;
    top: 20%;
    bottom: 22.5%;
    
    background: #FFFFFF;
}

.frame .rectangle {
    height: 30px;
    width: 30px;
    left: 0px;
    top: 0px;
    border-radius: 500px;
    
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #0B84EE;
    border-radius: 500px;
}

.fb_logo .text {
    width: 158px;
    height: 19px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
   
    color: #181818;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}